__pycache__
*.pyc
*.pyd
*.pyo
.pytest_cache/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
cover/
.python-version
**/.python-version
.ipynb_checkpoints
*/.ipynb_checkpoints/*
**/*venv*
**/__pycache*
CHATBOT_LOGS/
logs
data
artefacts