__pycache__/
.pytest_cache/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
cover/
.python-version
**/.python-version
.ipynb_checkpoints
*/.ipynb_checkpoints/*
**/*venv*
**/__pycache*
**/.vscode
.vscode/*
*.html
.env
logs
artefacts
keys
*.ipynb
*.xlsx
*openapi.*
reviews*
*.log
text_data*
